@{
    ViewData["Title"] = "Shop";
}
@model ProductViewModel

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/user/Index">Anasayfa</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Mağaza</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">

                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="float-md-left mb-4"><h2 class="text-black h5">Ürünler</h2></div>
                        @* <div class="d-flex">
                        <div class="dropdown mr-1 ml-md-auto">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Latest
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">Men</a>
                        <a class="dropdown-item" href="#">Women</a>
                        <a class="dropdown-item" href="#">Children</a>
                        </div>
                        </div>
                        <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                        <a class="dropdown-item" href="#">Relevance</a>
                        <a class="dropdown-item" href="#">Name, A to Z</a>
                        <a class="dropdown-item" href="#">Name, Z to A</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Price, low to high</a>
                        <a class="dropdown-item" href="#">Price, high to low</a>
                        </div>
                        </div>
                        </div> *@
                    </div>
                </div>

                <div id="filtrelenmisUrunler">
                    <div id="deleteddiv" class="row mb-5">
                        @foreach (var item in Model.Products)
                        {
                            var truncatedName = item.Name.Length > 12 ? item.Name.Substring(0, 12) + "..." : item.Name;
                            <div class="col-sm-6 col-lg-4 col-md-4 mb-4" data-aos="fade-up">
                                <div class="block-4 text-center border">
                                    <div class="row">
                                        <div class="col-12">
                                            <figure class="block-4-image degisenimgboyutu" style="overflow: hidden;">
                                                <img src="~/images/@item.ImgUrl" alt="Resim yeri tutucu" class="img-fluid responsiveImg" style="height: 100%; width: 100%;">
                                            </figure>
                                            <div class="block-4-text p-4">
                                                <h3 style="color:darkmagenta;font-size:30px">@truncatedName</h3>
                                                <p class="p-2" style="font-size:22px;color:darkblue;font-weight:bold">$ @item.Price</p>
                                                @*<div style="height: 100px; overflow: auto;">@Html.Raw(item.Description)</div>*@
                                                <div style="font-size:10px;text-align:center"><a href="/User/DetailsProduct/@item.Id" type="button" class="btn btn-primary">Detaylar</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="deleteddiv" class="row" data-aos="fade-up">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    @{
                                        int currentPage = Model.PageNumber; // Şu anki sayfa numarası
                                        int pageCount = Model.PageCount; // Toplam sayfa sayısı
                                        int visiblePageCount = 5; // Gösterilecek sayfa numarası miktarı
                                        int startPage;
                                        int endPage;

                                        if (pageCount <= visiblePageCount)
                                        {
                                            startPage = 1;
                                            endPage = pageCount;
                                        }
                                        else
                                        {
                                            startPage = Math.Max(currentPage - 2, 1);
                                            endPage = Math.Min(currentPage + 2, pageCount);
                                        }

                                        bool showStartEllipsis = startPage > 1;
                                        bool showEndEllipsis = endPage < pageCount;

                                        if (showStartEllipsis)
                                        {
                                            <li><span>...</span></li>
                                        }

                                        for (int i = startPage; i <= endPage; i++)
                                        {
                                            <li class="@(i == currentPage ? "active" : "")">
                                                @if (i != currentPage)
                                                {
                                                    <a href="@Url.Action("FilterProducts", new {categoryId=Model.categoryId,minPrice=Model.minPrice,maxPrice=Model.maxPrice,page = i })">@i</a>
                                                }
                                                else
                                                {
                                                    <span>@i</span>
                                                }
                                            </li>
                                        }

                                        if (showEndEllipsis)
                                        {
                                            <li><span>...</span></li>
                                        }
                                    }

                                    @* @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                    <li class="@(i == Model.PageNumber ? "active" : "")">
                                    @if (i != Model.PageNumber)
                                    {
                                    <a href="@Url.Action("Shop", new {categoryId=Model.categoryId,minPrice=Model.minPrice,maxPrice=Model.maxPrice,page = i })">@i</a>
                                    }
                                    else
                                    {
                                    <span>@i</span>
                                    }
                                    </li>
                                    } *@
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border p-4 rounded mb-4 custom-form-container">

                                <form method="post" asp-controller="User" asp-action="FilterProducts">
                                    <div class="form-group">
                                        <label for="categoryId">Kategori Seçiniz:</label>
                                        <select class="custom-select" asp-for="categoryId" name="categoryId" id="categoryId">
                                            <option value="0">-- Kategori Seçiniz --</option>
                                            @foreach (var item in ViewBag.Kategoriler)
                                            {
                                                <option value="@item.Id" selected="@(Model.categoryId == item.Id)"> @item.Name </option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="minFiyat">Minimum Fiyat:</label>
                                        <input class="form-control" asp-for="minPrice" type="number" value="@Model.minPrice">
                                    </div>

                                    <div class="form-group">
                                        <label for="maxFiyat">Maximum Fiyat:</label>
                                        <input class="form-control" asp-for="maxPrice" type="number" value="@Model.maxPrice">
                                    </div>
                                    <br />
                                    <div class="form-group text-center ">
                                        <button type="submit" class="btn btn-warning w-100">Filtrele</button>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


